body {
    background-image: url("../img/background_0.3.png");
}

#click-instructions {
    display: block;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Give You Glory', cursive;
    font-size: 55px;
    text-align: center;
    color: #FF0080;
}

#kitty-svg {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 65%;
}

#kitty-img {
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
}

#grumpy-status {
    display: block;
    margin: 20px auto;
    font-family: 'Give You Glory', cursive;
    font-size: 21px;
    text-align: center;
}

#my-footer {
    color: #868e96;
    opacity: 0.3;
    text-align: right;
    font-size: 10px;
    z-index: -10;
}

@media (min-width: 768px) {
    .container {
        margin-top: 150px;
    }
}
